/*-------------------------------------------All Pages----------------------------------*/
body {
  background-image: url(../pictures/Logo_Wallpaper.png);
/*    background-color: #c7d2d7;*/
font-family: 'Rubik', sans-serif;
}

h4 {font-family: 'Rubik', sans-serif;
}


#headpic {
  width: 150px;
  height: auto;
}

.jumbotron {
    text-align: center;
    background-color: #3b4d65;
    color: #fff;
    padding: 0px;
    box-shadow: 5px 0px 40px rgba(0,0,0, .6);

}

.well-text {

}

.heading-o {
  color: #fff !important;
  background-color: #3b4d65 !important;
}

.heading-s {
  color: #fff !important;
  background-color: #bc2f40 !important;
}

.panel.panel-default {
  box-shadow: 5px 0px 40px rgba(0,0,0, .5);
}

/*--------------------------------------Home Page----------------------------------------*/
body#home-page {
  background-color: #3b4d65 !important;

}

#home-logo {
  padding-top: 100px;
  width: 350px;
  height: auto;
}

#home-buttons {
  text-align: center;
  background-color: #3b4d65;
}

button#owner-button, button#setter-button {
  background-color: #3b4d65;
  width: 200px;
}


#name {
  font-style: bold;
}

#full-setter-list {
  /*width: 900px;*/
  height: 410px;
  overflow-y: scroll;
}

img#mappic {
    width: 557px;
}

#map {
  text-align: center;
}

#setProf {
  height: 490px;
}


/*---------------------------------------------------Owner 3-----------------------------*/


/*-------------------------------------------------Owner End-----------------------------*/
